/target/classes/com/project/taskmanager/security/ApiUserDetails.class
/target/site/jacoco/com.project.taskmanager.security/ApiUserDetails.html
/target/site/jacoco/com.project.taskmanager.security/ApiUserDetails.java.html
/target/classes/com/project/taskmanager/service/impl/ApiUserDetailsService.class
/target/site/jacoco/com.project.taskmanager.service.impl/ApiUserDetailsService.html
/target/site/jacoco/com.project.taskmanager.service.impl/ApiUserDetailsService.java.html
/target/test-classes/com/project/taskmanager/security/ApiUserDetailsTest.class
/target/classes/application.properties
/target/classes/application-dev.properties
/target/classes/application-prod.properties
/target/test-classes/application-test.properties
/target/classes/com/project/taskmanager/controller/AuthController.class
/target/site/jacoco/com.project.taskmanager.controller/AuthController.html
/target/site/jacoco/com.project.taskmanager.controller/AuthController.java.html
/target/test-classes/com/project/taskmanager/controller/AuthControllerTest$1.class
/target/test-classes/com/project/taskmanager/controller/AuthControllerTest.class
/target/site/jacoco/jacoco-resources/branchfc.gif
/target/site/jacoco/jacoco-resources/branchnc.gif
/target/site/jacoco/jacoco-resources/branchpc.gif
/target/site/jacoco/jacoco-resources/bundle.gif
/target/site/jacoco/jacoco-resources/class.gif
/target/surefire-reports/com.project.taskmanager.controller.AuthControllerTest.txt
/target/surefire-reports/com.project.taskmanager.controller.TaskControllerTest.txt
/target/surefire-reports/com.project.taskmanager.controller.UserControllerTest.txt
/target/surefire-reports/com.project.taskmanager.exception.GlobalExceptionHandlerTest.txt
/target/surefire-reports/com.project.taskmanager.security.ApiUserDetailsTest.txt
/target/surefire-reports/com.project.taskmanager.security.JwtAuthenticationFilterTest.txt
/target/surefire-reports/com.project.taskmanager.security.JwtProviderTest.txt
/target/surefire-reports/com.project.taskmanager.service.TaskServiceTest.txt
/target/surefire-reports/com.project.taskmanager.service.UserServiceTest.txt
/target/surefire-reports/com.project.taskmanager.TaskmanagerApplicationTests.txt
/target/surefire-reports/com.project.taskmanager.utils.PaginationUtilsTest.txt
/target/surefire-reports/com.project.taskmanager.utils.UserUtilsTest.txt
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/data.sql
/target/site/jacoco/jacoco-resources/down.gif
/target/classes/com/project/taskmanager/exception/ErrorResponse.class
/target/site/jacoco/com.project.taskmanager.exception/ErrorResponse.html
/target/site/jacoco/com.project.taskmanager.exception/ErrorResponse.java.html
/target/classes/com/project/taskmanager/exception/GlobalExceptionHandler.class
/target/site/jacoco/com.project.taskmanager.exception/GlobalExceptionHandler.html
/target/site/jacoco/com.project.taskmanager.exception/GlobalExceptionHandler.java.html
/target/test-classes/com/project/taskmanager/exception/GlobalExceptionHandlerTest.class
/target/site/jacoco/jacoco-resources/greenbar.gif
/target/site/jacoco/jacoco-resources/group.gif
/target/site/jacoco/com.project.taskmanager/index.html
/target/site/jacoco/com.project.taskmanager.config/index.html
/target/site/jacoco/com.project.taskmanager.controller/index.html
/target/site/jacoco/com.project.taskmanager.enums/index.html
/target/site/jacoco/com.project.taskmanager.exception/index.html
/target/site/jacoco/com.project.taskmanager.security/index.html
/target/site/jacoco/com.project.taskmanager.service.impl/index.html
/target/site/jacoco/com.project.taskmanager.utils/index.html
/target/site/jacoco/index.html
/target/site/jacoco/com.project.taskmanager/index.source.html
/target/site/jacoco/com.project.taskmanager.config/index.source.html
/target/site/jacoco/com.project.taskmanager.controller/index.source.html
/target/site/jacoco/com.project.taskmanager.enums/index.source.html
/target/site/jacoco/com.project.taskmanager.exception/index.source.html
/target/site/jacoco/com.project.taskmanager.security/index.source.html
/target/site/jacoco/com.project.taskmanager.service.impl/index.source.html
/target/site/jacoco/com.project.taskmanager.utils/index.source.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/site/jacoco/jacoco.csv
/target/jacoco.exec
/target/site/jacoco/jacoco.xml
/target/site/jacoco/jacoco-sessions.html
/target/classes/com/project/taskmanager/security/JwtAuthenticationFilter.class
/target/site/jacoco/com.project.taskmanager.security/JwtAuthenticationFilter.html
/target/site/jacoco/com.project.taskmanager.security/JwtAuthenticationFilter.java.html
/target/test-classes/com/project/taskmanager/security/JwtAuthenticationFilterTest.class
/target/classes/com/project/taskmanager/security/JwtProvider.class
/target/site/jacoco/com.project.taskmanager.security/JwtProvider.html
/target/site/jacoco/com.project.taskmanager.security/JwtProvider.java.html
/target/test-classes/com/project/taskmanager/security/JwtProviderTest.class
/target/classes/com/project/taskmanager/dto/LoginRequest.class
/target/classes/com/project/taskmanager/dto/LoginResponse.class
/target/site/jacoco/jacoco-resources/method.gif
/target/classes/com/project/taskmanager/security/MethodSecurityConfig.class
/target/site/jacoco/com.project.taskmanager.security/MethodSecurityConfig.html
/target/site/jacoco/com.project.taskmanager.security/MethodSecurityConfig.java.html
/target/classes/com/project/taskmanager/config/OpenApiConfig.class
/target/site/jacoco/com.project.taskmanager.config/OpenApiConfig.html
/target/site/jacoco/com.project.taskmanager.config/OpenApiConfig.java.html
/target/site/jacoco/jacoco-resources/package.gif
/target/classes/com/project/taskmanager/utils/PaginationUtils.class
/target/site/jacoco/com.project.taskmanager.utils/PaginationUtils.html
/target/site/jacoco/com.project.taskmanager.utils/PaginationUtils.java.html
/target/test-classes/com/project/taskmanager/utils/PaginationUtilsTest.class
/target/classes/com/project/taskmanager/utils/PasswordHashGenerator.class
/target/site/jacoco/com.project.taskmanager.utils/PasswordHashGenerator.html
/target/site/jacoco/com.project.taskmanager.utils/PasswordHashGenerator.java.html
/target/site/jacoco/jacoco-resources/prettify.css
/target/site/jacoco/jacoco-resources/prettify.js
/target/classes/com/project/taskmanager/enums/Priority.class
/target/site/jacoco/com.project.taskmanager.enums/Priority.html
/target/site/jacoco/com.project.taskmanager.enums/Priority.java.html
/target/site/jacoco/jacoco-resources/redbar.gif
/target/classes/com/project/taskmanager/dto/RegisterRequest.class
/target/site/jacoco/jacoco-resources/report.css
/target/site/jacoco/jacoco-resources/report.gif
/target/classes/com/project/taskmanager/enums/Role.class
/target/site/jacoco/com.project.taskmanager.enums/Role.html
/target/site/jacoco/com.project.taskmanager.enums/Role.java.html
/target/classes/com/project/taskmanager/controller/RootController.class
/target/site/jacoco/com.project.taskmanager.controller/RootController.html
/target/site/jacoco/com.project.taskmanager.controller/RootController.java.html
/target/classes/com/project/taskmanager/security/SecurityConfig.class
/target/site/jacoco/com.project.taskmanager.security/SecurityConfig.html
/target/site/jacoco/com.project.taskmanager.security/SecurityConfig.java.html
/target/site/jacoco/jacoco-resources/session.gif
/target/site/jacoco/jacoco-resources/sort.gif
/target/site/jacoco/jacoco-resources/sort.js
/target/site/jacoco/jacoco-resources/source.gif
/target/classes/com/project/taskmanager/enums/Status.class
/target/site/jacoco/com.project.taskmanager.enums/Status.html
/target/site/jacoco/com.project.taskmanager.enums/Status.java.html
/target/classes/com/project/taskmanager/model/Task.class
/target/classes/com/project/taskmanager/controller/TaskController.class
/target/site/jacoco/com.project.taskmanager.controller/TaskController.html
/target/site/jacoco/com.project.taskmanager.controller/TaskController.java.html
/target/test-classes/com/project/taskmanager/controller/TaskControllerTest.class
/target/classes/com/project/taskmanager/TaskManagerApplication.class
/target/site/jacoco/com.project.taskmanager/TaskManagerApplication.html
/target/site/jacoco/com.project.taskmanager/TaskManagerApplication.java.html
/target/test-classes/com/project/taskmanager/TaskmanagerApplicationTests.class
/target/classes/com/project/taskmanager/exception/TaskNotFoundException.class
/target/site/jacoco/com.project.taskmanager.exception/TaskNotFoundException.html
/target/site/jacoco/com.project.taskmanager.exception/TaskNotFoundException.java.html
/target/classes/com/project/taskmanager/repository/TaskRepository.class
/target/classes/com/project/taskmanager/dto/TaskRequest.class
/target/classes/com/project/taskmanager/dto/TaskResponse.class
/target/classes/com/project/taskmanager/service/TaskService.class
/target/classes/com/project/taskmanager/service/impl/TaskServiceImpl.class
/target/site/jacoco/com.project.taskmanager.service.impl/TaskServiceImpl.html
/target/site/jacoco/com.project.taskmanager.service.impl/TaskServiceImpl.java.html
/target/test-classes/com/project/taskmanager/service/TaskServiceTest.class
/target/surefire-reports/TEST-com.project.taskmanager.controller.AuthControllerTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.controller.TaskControllerTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.controller.UserControllerTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.exception.GlobalExceptionHandlerTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.security.ApiUserDetailsTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.security.JwtAuthenticationFilterTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.security.JwtProviderTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.service.TaskServiceTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.service.UserServiceTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.TaskmanagerApplicationTests.xml
/target/surefire-reports/TEST-com.project.taskmanager.utils.PaginationUtilsTest.xml
/target/surefire-reports/TEST-com.project.taskmanager.utils.UserUtilsTest.xml
/target/site/jacoco/jacoco-resources/up.gif
/target/classes/com/project/taskmanager/model/User.class
/target/classes/com/project/taskmanager/controller/UserController.class
/target/site/jacoco/com.project.taskmanager.controller/UserController.html
/target/site/jacoco/com.project.taskmanager.controller/UserController.java.html
/target/test-classes/com/project/taskmanager/controller/UserControllerTest.class
/target/classes/com/project/taskmanager/exception/UserNotFoundException.class
/target/site/jacoco/com.project.taskmanager.exception/UserNotFoundException.html
/target/site/jacoco/com.project.taskmanager.exception/UserNotFoundException.java.html
/target/classes/com/project/taskmanager/repository/UserRepository.class
/target/classes/com/project/taskmanager/dto/UserRequest.class
/target/classes/com/project/taskmanager/dto/UserResponse.class
/target/classes/com/project/taskmanager/service/UserService.class
/target/classes/com/project/taskmanager/service/impl/UserServiceImpl.class
/target/site/jacoco/com.project.taskmanager.service.impl/UserServiceImpl.html
/target/site/jacoco/com.project.taskmanager.service.impl/UserServiceImpl.java.html
/target/test-classes/com/project/taskmanager/service/UserServiceTest.class
/target/classes/com/project/taskmanager/utils/UserUtils.class
/target/site/jacoco/com.project.taskmanager.utils/UserUtils.html
/target/site/jacoco/com.project.taskmanager.utils/UserUtils.java.html
/target/test-classes/com/project/taskmanager/utils/UserUtilsTest.class
/Users/merul/IdeaProjects/Task-Manager/.env
/.env
/.idea/vcs.xml
